/*    設定nav*/
nav{
    position: fixed;
    top: 0px;
    width: 90%;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    overflow: hidden;
}



nav li{
    list-style-type: none;
    display: inline-block;
    letter-spacing: 1pt;
    font-size: 15pt;
}

nav a{
    font-family: cursive, serif;
   
}

nav a,
nav a:visited{
    text-decoration: none;
    color: darkgreen;
    color:dimgray;
}

.logo a:active,
.logo a:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}    
.logo img {
    height: 90px;
}

/*設定.dropdown-menu hyperlink*/
.caret02{
    border-style:solid;
    border-width: 4px;
    border-color: transparent transparent transparent brown;
    display: inline-block;
}


/*設定upward*/
#top{
    font-size: 40pt;
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: forestgreen;
    border-radius: 50%;
    opacity: 0.7;
    color: lightgoldenrodyellow;
}
#top:hover,
#top:active {
    opacity: 1;
}




/*設定tab1 container*/
.container{
    text-align: center;
    margin-top: 0px;
    display: block;
}

head01 {
    font-family: cursive;
    font-size: 20pt;
    font-weight: bold;
    color: darkgreen;
    text-align: center;
    padding: 5pt;
}
head01 img {
    width: 100%;
    margin-top: 5pt;
}

.container p,
.container li {
    font-family: cursive;
    font-size: 15pt;
    text-align: left;    
}

.container p {
    padding: 10pt;
    margin-top: 5pt;
}

.container li {
    padding-left: 40pt;
}

.row {
    margin-left: auto;
    margin-right: auto;
}
.row p {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    padding-left: 25pt;
    padding-top: 30pt;
    padding-bottom: 0;
    font-family: cursive;
    font-size: 13pt;
    color: currentColor;
}

.row li {
    font-size: 15pt;
    font-family: cursive;
    text-align: left;
    margin-left: 40pt;
    margin-top: 0;
}

#vision {
    margin-top: 10px;
}


.thumbnail {
    width: 100%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-align: center;
    padding: 15px;
    display: inline-block;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: whitesmoke;
}

a .thumbnail{
    font-family: cursive;
    font-size: 18pt;
    color: darkslategray;
    font-weight: bold;
    letter-spacing: 1.5pt;
}

a .thumbnail:hover,
a .thumbnail:active {
    text-decoration: none;
    border-style: double;
    color: darkred;
}

.thumbnail img {
    width: 100%;
    padding-top: 5px;
}

.thumbnail p{
    text-align: left;
    font-family: 'Open Sans';
    color: darkslategray;
    padding-left: 10px;
    font-size: 12pt;
}

h3 {
    color: forestgreen;
}
h4 {
    color: gold;
}
h5 {
    color: orangered;    
}

h3,
h4,
h5 {
    font-family: cursive;
    font-size: 20pt;
}



/* tab-content*/
.tab-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
}   

#myCarousel {
    height: 400px;
    position: relative;
    left: 0;
    right: 0;
}
#myCarousel img {
    width: 100%;
    height: 400px;
}

.container06{
    width: 80%;
    position: relative;
    right: 10%;
    left: 10%;
    font-family: 'Roboto';
    font-size: 15pt;
}

.container06 img {
    width: 100%;
}
.container06 p {
    padding: 5pt;
    padding-left: 30pt;
    padding-right: 30pt;
    font-family: 'Roboto';
} 
.container06 h6 a {
    padding: 5pt;
    padding-left: 30pt;
    font-family: cursive;
    font-size: 18pt;
}

#stormwater {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
#pathways {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.container06 .row p{
    font-size: 15pt;
}

#evergreen1,
#gold1,
#change1{
    border-top-style: outset;
    margin-top: 15px;
}
h6 {
    font-family: cursive;
    font-size: 22pt;
}
#gold1 h6,
#gold2 h6 {
    color: goldenrod;
}
#evergreen1 h6,
#evergreen2 h6 {
    color: darkgreen;
}
#change1 h6,
#change2 h6 {
    color: orangered;
}

#tab7 .container06 .row {
    display: inline-block;
}

#tab7 .container06 #connect4 {
    padding-top: 15px;
}

#detail {
    padding-left: 30px;
}

button {
    font-family: cursive;
    font-size: 22pt;
    color: darkgreen;
    background-color: white;
    border-style: none;
    padding-left: 15pt;
    padding: 0;
}

#tab2 button img{
    padding: 0;
} 
/*設定upward*/
.material-icons:hover,
.material-icons:active {
    opacity: 1;
}
.material-icons {
    font-size: 40pt;
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: forestgreen;
    border-radius: 50%;
    opacity: 0.7;
    color: lightgoldenrodyellow;
}

/*footer*/
footer{
    background-color:forestgreen;    
    width: 100%;
    height: 50px;
    bottom: 0;
    right: auto;
    left: auto;
    text-align: center;
    line-height: 50px;
    color: azure;
    font-family: 'Roboto', serif;
    letter-spacing: 1pt;
}






